$main-color: #15142c;
$secondary-color: #1b1a39;
$contrast-cold-color: #00eefd;
$contrast-warm-color: #fe2c70;
$font-color: #f2f2f2;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: $font-color;
}

body {
  background-color: $main-color;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: $contrast-cold-color;
  -webkit-text-stroke-width: 5px;
  letter-spacing: 5px;
}

.button {
  background-color: $main-color;
}
